/*

pages/home/hero.scss

*/


section.hero {
    background: url('images/hero_28.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    height: 65vh;
    display: table; 
    width: 100%;
    box-shadow: inset 450px 0 900px rgba(0, 0, 0, 0.5), inset -250px 0 900px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
    	/*height: 75vh;*/
    }

    .container {
    	display: table-cell;
    	vertical-align: middle;
    }

    .inner {
    	/*position: absolute;*/
    	/*bottom: 20px;*/
		margin: 0;
		/*background: rgba(0, 0, 0, 0.5);*/
		padding: 0 0 0 80px;
		text-align: left;
		/*float: left;*/
		/*border-radius: 3px;*/
		/*border: 2px solid #000;*/
		/*border-left: 1px solid #111;*/
		/*border-top: 1px solid #111;*/
		/*box-shadow: 4px 4px 38px rgba(0, 0, 0, 0.55);*/
		/*text-align: center;*/
		/*bottom: 10px;*/
		/*left: 0;*/
		/*right: 0;*/
		/*vertical-align: middle;*/
		/*display: table-cell;*/

		@media screen and (max-width: 1200px) {
			padding: 0 0 0 50px;
		}

		@media screen and (max-width: 1100px) {
			padding: 0 0 0 30px;
		}

		@media screen and (max-width: 500px) {
			text-align: center;
			padding: 0 20px;
		}

		.camp-1 {
			margin: 0 0 60px;
		}

		h1 {
			font-size: 44px;
			color:#ddd;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.9);
			text-transform: uppercase;
		}

		h2 {
		    color: #F3FAFE;
		    font-size: 36px;
		    font-weight: 400;
		    letter-spacing: 1px;
		    margin: 0;
		    text-transform: uppercase;
		    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
		}

		h3 {
			font-size: 24px;
			margin: 6px 0;
			font-weight: 400;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			font-family: "tenso",sans-serif;
			color: #D19F51;
		}

	    p {
			color: #999;
			margin: 0 0 30px;
			text-shadow: 1px 1px 0 #000;
			text-align: center;
			font-weight: 200;
			font-family: "tenso",sans-serif;
			letter-spacing: -1px;
			font-size: 24px;

			@media screen and (max-width: 800px) {
				margin: 0 0 40px;
				font-size: 20px;
				text-transform: uppercase;
				letter-spacing: -0.5px;
			}

			@media screen and (max-width: 500px) {
				margin: 0 0 30px;
			}

			@media screen and (max-width: 370px) {
				display: none;
			}
	    }

		.cta-btns {
			width: auto;
			display: block;
			clear: both;
			margin: 10px 0 0;

			@media screen and (max-width: 500px) {
				margin: 14px 0 0;
			}

		    a {
		    	@extend .all-btns;
				margin: 0 7px;

				@media screen and (max-width: 500px) {
			    	font-size: 15px;
			    }

		    	&:nth-child(1) {
		    		@extend .cta-btn-black;
				    margin: 0 7px 0 0;
				    font-size: 18px;
		    	}

		    	&:nth-child(2) {
		    		@extend .cta-btn-red;
		    		font-size: 18px;
		    	}

		    	@media screen and (max-width: 500px) {

		    		&:nth-child(1), &:nth-child(2) {
		    			font-size: 16px;
		    		}
		    	}

		    	@media screen and (max-width: 400px) {

		    		&:nth-child(1), &:nth-child(2) {
						font-size: 12px;
						margin: 0 3px;
					}
		    	}
		    }
		}
	}
}









